body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('https://static.wikia.nocookie.net/omniversal-battlefield/images/1/15/Haclo.gif/revision/latest?cb=20200105053245') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}