body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('https://static.wikia.nocookie.net/omniversal-battlefield/images/1/15/Haclo.gif/revision/latest?cb=20200105053245') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
.container {
    display: flex;
    flex-direction: row; 
    min-height: 100vh;
    flex-wrap: nowrap;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: none; 
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.contents {
    margin-left: auto;
    background-color: rgba(51, 51, 51, 0.8);
    width: 75%;
    box-sizing: border-box;
    overflow-y: auto;
}
.profilePhoto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    border: 5px solid blue;
    box-shadow: 0 10px 15px rgba(66, 8, 192, 0.5);
}
.profilePhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileName h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: blue;
    margin-top: 20px;
    text-align: center;
}
.CV-button{
    background: blue;
    color: white;  
}
.CV-button:hover {
    background: rgba(45, 43, 85, 1);
    color: white;
}
.navbar {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 40px;
    text-align: center;
}
.navbar a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 10px;
}
.navbar a:hover, a.active {
    color: blue;
}
.contents img.content-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
#aboutMe {
    background: rgba(45, 43, 85, 1);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

#aboutMe h3 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #e1bb04; 
}

#aboutMe p, a {
    font-size: 1.2em;
    line-height: 1.6;
    text-decoration: none;
}

#aboutMe strong {
    color: #4da6ff;
    font-size: 0.9em;
    line-height: 1.6; 
}
#aboutMe a:hover{
    color: #e1bb04; 
}
#projects {
    background: rgba(45, 43, 85, 1);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin: 20px auto;
    margin-top: 100px;
}
#projects h3 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #e1bb04; 
}
#projects img{
    max-width: 100%;
}
#education {
    background: rgba(45, 43, 85, 1);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin: 20px auto;
    margin-top: 100px;
}
#education h3 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #e1bb04; 
}
#education p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
}
#education a {
    color: #4da6ff;
    text-decoration: none;
}
#education a:hover {
    color: #e1bb04;
}
