body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('https://static.wikia.nocookie.net/omniversal-battlefield/images/1/15/Haclo.gif/revision/latest?cb=20200105053245') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
.container {
    display: flex;
    flex-direction: row; 
    min-height: 100vh;
    flex-wrap: nowrap;
}
.sidebar {
    background: none; 
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.contents {
    background-color: rgba(51, 51, 51, 0.8);
    width: 75%;
    box-sizing: border-box;
    overflow-y: auto;
}
.profilePhoto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    border: 5px solid blue;
    box-shadow: 0 10px 15px rgba(66, 8, 192, 0.5);
}
.profilePhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileName h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
}
.profileName h1:hover {
    background: blue;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.CV-button{
    background: blue;
    color: white;  
}
.CV-button:hover {
    background: rgb(0, 165, 253);
    color: white;
}
.navbar {
    background-color: rgba(51, 51, 51, 0.8); /* Adds slight transparency */
    padding: 40px;
    text-align: center;
}
.navbar a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 10px;
}
.navbar a:hover, a.active {
    color: blue;
}
.contents img.content-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
